extends layout
block css
	link(rel='stylesheet', href='/stylesheets/sellerPro.css')
block content
	div.egouNav
		div.navContent
			if session.loggedIn
				if session.userType === 'customer' 
					ul.loggedUlC.all
						li.welcomeLi
							a(href="/") 欢迎您、
								span= session.username
						li 
							a(href="/signOut") 退出		
						li 
							a(href='/userInfo') 我的信息
						li 
							a(href='/buyCar') 我的购物车
						li 
							a(href='/myOrder') 我的订单						
				else if session.userType === 'seller'
					ul.loggedUlS.all
						li.welcomeLi
							a(href="/") 欢迎您、
								span= session.username
						li 
							a 退出
						li 
							a 数据分析
						li 
							a(href='/sellerPro') 我的产品	
						li 
							a(href='/publishPro') 发布产品			
			else
				ul.notLoggedUl.all
					li.welcomeLi
						a(href="/") 欢迎您的到来、游客
					li 
						a(href='/signForSeller') 商家加盟
					li 
						a(href="/login") 登录
					li 
						a(href="/signup") 注册
	div#Box.container
		table.table.table-striped.table-hover.table-bordered.table-condensed
			thead
				th 商品名称 
				th 商品图片
				th 商品价格
				th 商品库存
				th 操作
			tbody
				if allPro
					each pro in allPro
						tr
							td= pro.proName
							td 
								each image in pro.showImages
									img(src="#{image}")
							td= pro.price
							td= pro.proNum
							td 
								a.btn.btn-primary(href="#{pro.link}") 购买
						